:root {
    --red: #ff4d6d;
    --pink: #ff8fa3;
    --green: #00b894;
    --blue: #3d73dd;
    --yellow: #f5d55d;
    --orange: #ff9a55;
    --purple: #b2a1ff;
    --gray: #8e8e8e;
    --white: #eee;
    --black: #303030;
}

$drag-header-height: 42px;